body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  /*width: 1158px;
  padding-left: 15px;
  padding-right: 15px;*/
  margin: 0 auto;
}

/****************header*************/
.header-container {
  padding-top: 26px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  width: 1158px;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: flex;
  align-items: center;
  display: inline-block;
}
.mob-menu-header-ul-spc {
}
.mob-menu-header-item {
}
.header-logo-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}
.header-ul-spc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.125em;
  color: #2e2f42;
  /**display: flex;**/
  display: none;
  gap: 40px;
  padding: 0 15px;
}
.header-spc-link:hover,
.header-spc-link:focus {
  color: #404bbf;
}

.header-link-plus::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  /*display: block;*/
  display: none;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-spc-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.mob-menu-header-spc-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.mob-menu-header-spc-link:hover,
.mob-menu-header-spc-link:focus {
  color: #404bbf;
}
.header-link-plus {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-item {
  padding: 24px 0;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #404bbf;
}
.mob-menu-header-contacts-link:hover,
.mob-menu-header-contacts-link:focus {
  color: #404bbf;
}
.header-Contacts {
  padding: 24px 0;
}
.mob-menu-header-contacts-link {
  color: var(--SLATE, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.header-contacts-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adres {
  font-style: normal;
}
.header-adres-list {
  /*display: flex;*/
  display: none;
  gap: 40px;
  align-items: center;
}
.menu-open-btn {
  width: 24px;
  height: 24px;
  background-color: #fff;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.menu-close-btn {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 8px;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover,
.menu-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.menu-close-btn-icon {
  background-color: #e7e9fc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-menu-svg-icon-ul {
  justify-content: center;
  display: flex;
  gap: 40px;
}
.mob-menu-svg-icon-list {
  border: 0 solid #ffffff;
  width: 40px;
  height: 40px;
}
/*------------sektone--------*/
.sektone {
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media (min-resolution: 192dpi) {
  .sektone {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-mob-2x.jpg);
  }
}

.solutions {
}
.bigtext {
  display: flex;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 170px;
  margin-bottom: 72px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  min-width: 169px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*************************sektion-spdt****************/
.sektion-spdt {
  /*padding: 120px 0;*/
  padding-top: 96px;
  padding-bottom: 96px;
}
.feature-spdt {
}
.feture-icon-svg {
}
.feture-icon {
  display: none;
  /*display: flex;*/
  align-items: center;
  justify-content: center;
  padding: 24px 100px;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
}
.ul-spdt {
  display: flex;
  flex-wrap: wrap;
  /*gap: 24px;*/
  gap: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.spdt-list {
  /*width: calc((100% - 24px * 3) / 4);*/
  width: 100%;
}
.spdt {
  /*font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;*/
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}
.spdt-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
/*---------------section-tiem-----------------*/
.container-our-team {
}
.our-team {
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}
.container-our-team {
}
.section-tiem {
  background: var(--CLOUD, #f4f4fd);
}
.div-hero {
  padding: 32px 0;
}
.svg-icon-ul {
  justify-content: center;
  display: flex;
  gap: 24px;
}
.svg-icon-list {
  border: 0 solid #ffffff;
  width: 40px;
  height: 40px;
}
.svg-icon-link:hover,
.svg-icon-link:focus {
  background-color: #404bbf;
}
.div-hero-svg-icon {
  fill: #f4f4fd;
}
.svg-icon-list {
}
.svg-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-liste-item img {
}
.hero {
  font-weight: 500;
  line-height: 1.2;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.hero-liste {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 72px;
}
.hero-liste-item-img {
}
.hero-liste-item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  /*width: calc((100% - 24px * 3) / 4);*/
  width: 100%;
}
.namepro {
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

/*----------------------section-our-portfolio-----------*/

.container-our-portfolio {
}
.ander-block-wrapper-img {
}
.section-our-portfolio {
  background: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}
.ander-block-wrapper {
  position: relative;
  overflow: hidden;
}

.ander-text {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.servis-item:hover .ander-text {
  transform: translateY(0%);
}
.our-portfolio {
  line-height: 1.11;
  text-align: center;
  font-size: 36px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.div-servis {
  padding: 32px 16px;
  border: 1px solid var(--CORNFLOWER, #e7e9fc);
  border-top: none;
}
.div-servis:hover {
  border: 1px solid var(--CLOUD, #f4f4fd);
  background: var(--WHITE, #fff);
}
.servis-liste {
  display: flex;
  flex-wrap: wrap;
}
.servis {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-our-portfolio-img {
  margin-bottom: 32px;
}
.servis-item {
  /*width: calc((100% - 48px) / 3);*/
  width: 100%;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.servis-item:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.servis-liste-par {
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
}
/*-------------------footer---------------*/
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-container {
  margin-right: 120px;
}
.footer-logo-text {
  color: #f4f4fd;
}
.header-logo-footer {
  margin-bottom: 16px;
}
.footer-par {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.foter-tittli-social {
}
.footer-tittle-two {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
  font-style: normal;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}
.footer-social-list {
  border: 0 solid #ffffff;
  width: 40px;
  height: 40px;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}
.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-svg {
  fill: #f4f4fd;
}
.foter-subscribe-par {
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 75px;
  font-style: normal;
  margin: 0;
  margin-bottom: 16px;
  margin-left: 80px;
  display: flex;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.foter-subscribe {
  color: var(--WHITE, #fff);
  width: 264px;
  height: 40px;
  font-size: 12px;
  font-style: normal;
  background-color: transparent;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border: 1px solid var(--WHITE, #fff);
  margin-left: 80px;
}
.foter-subscribe::placeholder {
  color: var(--WHITE, #fff);
  font-size: 12px;
  font-style: normal;
  line-height: 0.2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}
.foter-subscribe-btn {
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: none;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.foter-subscribe-btn-svg {
  margin-left: 16px;
}

/*******************backdrop************/
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  background: var(--DAIRY, #fcfcfc);
  border-radius: 4px;
  position: absolute;
  height: 622px;
  width: 288px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  padding: 8px;
  border: none;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  fill: #ffffff;
  background-color: #404bbf;
}
.modal-btn-icon {
  background-color: #e7e9fc;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  /*width: 360px;*/
  width: 256px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-field-for {
  margin-bottom: 16px;
}
.modal-field-five {
  margin-bottom: 24px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: inherit;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}
.modal-label {
  display: block;
  margin-bottom: 4px;
  height: 14px;
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-input-wrap {
  position: relative;
}
.modal-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  height: 120px;
  border-radius: 4px;
  resize: none;
  margin: 0;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}
.modal-text:focus {
  border-color: #4d5ae5;
}
.modal-text::placeholder {
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  line-height: normal;
}
.i-accept {
  display: flex;
  align-items: center;
}
.check-text {
  color: var(--LIGHT-SLATE, #8e8f99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.check-text a {
  color: var(--IRIS, #4d5ae5);
  font-size: 12px;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.check-text-span {
  width: 22px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  margin-right: 8px;
  fill: transparent;
}
.check-input:checked + .check-text .check-text-span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.modal-btn-two {
  color: var(--WHITE, #fff);
  text-align: center;
  font-family: Roboto;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/*********@media screen and (min-width: 320px)****/
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .header-container {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .container-our-team {
    padding: 96px 28px;
  }
}
/*********@media screen and (min-width: 768px)****/
@media screen and (min-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 768px;
  }
  /***************sektone***************/
  .sektone {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-pl.jpg);
  }
  @media (min-resolution: 192dpi),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .sektone {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-pl-2x.jpg);
    }
  }
  .bigtext {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /*********sektion-spdt*********/
  .spdt-list {
    width: calc((100% - 24px) / 2);
  }
  .ul-spdt {
    gap: 72px 24px;
  }
  .spdt {
    text-align: left;
  }
  /****************section-tiem*********/
  .hero-liste-item {
    width: calc((100% - 24px) / 2);
    width: 264px;
  }
  .hero-liste {
    gap: 64px 24px;
    display: flex;
    justify-content: center;
  }

  /************section-our-portfolio******/
  .servis-item {
    width: calc((100% - 24px) / 2);
  }
  .servis-liste {
    gap: 72px 24px;
  }
  /***************modal*******************/
  .modal {
    width: 408px;
    height: 584px;
  }
  .check-text-span {
    width: 16px;
  }
  .modal-title {
    width: 360px;
  }
}

/*********@media screen and (min-width: 1158px)*****/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /****************sektone***********/
  .sektone {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-resolution: 192dpi),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {
    .sektone {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-2x.jpg);
    }
  }
  .solutions {
  }
  .bigtext {
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    font-weight: 700;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 48px;
  }
  /**********************sektion-spdt**********/
  .feature-spdt {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .feture-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 100px;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
  }
  .spdt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
  }
  .ul-spdt {
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .spdt-list {
    width: calc((100% - 24px * 3) / 4);
  }
  .spdt-par {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
  }
  /*****************section-tiem********/
  .container-our-team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .hero-liste-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .hero-liste {
    gap: 24px;
  }
  /***********section-our-portfolio**********/
  .section-our-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .servis-item {
    width: calc((100% - 48px) / 3);
  }
}
